
###> symfony/framework-bundle ###
.env.local
.env.local.php
.env.*.local
config/secrets/prod/prod.decrypt.private.php
public/bundles/
var/
var/log/*
vendor/*
###< symfony/framework-bundle ###

.env.local
.vscode/
.idea/
.ddev/
ex.sh